body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    user-select: none;
}

.liquid-button path {
    cursor: pointer;
}

.dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
}

.dribbble img {
    display: block;
    height: 28px;
}

.twitter {
    position: fixed;
    display: block;
    right: 64px;
    bottom: 14px;
}

.twitter svg {
    width: 32px;
    height: 32px;
    fill: #f2841d;
}